rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 모든 방문자 읽기 가능, 관리자 및 쇼핑몰 데이터 업데이트 가능
    match /products/{productId} {
      allow read: if true;
      allow write: if true;
    }
    match /settings/{settingId} {
      allow read: if true;
      allow write: if true;
    }
    match /videos/{videoId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
